html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  font-size: 10px;
}
body {
  font-size: 1.6rem;
}
.app-layout {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  .app-layout__sidebar, .app-layout__page {
    flex: 1;
    min-height: 100vh;
  }
  .app-layout__sidebar {
    position: relative;
    background-color: #ddd;
    max-width: 20rem;
    overflow-y: auto;
    transition: max-width 0.4s ease-in;
  }
  .app-layout__sidebar.minimized {
    max-width: 6rem;
    transition: max-width 0.4s ease-out;
  }
  //.app-layout__sidebar {
  //  position: absolute;
  //  left: -100vw;
  //  transition: transform .3s cubic-bezier(0.6, 0.04, 0.3, 1), background-color .5s linear .3s;
  //  width: 100%;
  //  flex-shrink: 0;
  //  background-color: rgba(153, 153, 153, 0);
  //}
  //.app-layout__sidebar.app-layout__show-sidebar {
  //  transform: translateX(100vw);
  //  background-color: rgba(153, 153, 153, 0.6);
  //  //transition: background-color 2s linear, transform 2s cubic-bezier(0.6, 0.04, 0.3, 1) 2s;
  //}
  //.app-layout__sidebar.app-layout__hide-sidebar {
  //}
  .app-layout__page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }
  //page layout
  .app-layout__header,
  .app-layout__content,
  .app-layout__footer {
    flex: 6rem 0;
  }
  .app-layout__content {
    flex: 100%;
  }

}
